body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.App {
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: #333;
}

h2 {
  justify-content: center;
  display: flex;
}

#root {
  height: 700px;
  width: 100%;
}

.coin {
  position: relative;
  justify-content: center;
  background-color: #0000;
  border-radius: 50%;
}

.coin img {
  width: 70%;
  background-color: #0000;
  transition: transform 0.3s;
}

.coin img:active {
  transform: scale(0.95);
}
